.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ---------- Base Colors ---------- */
.social-icon {
  margin: 0 15px;
  transition: all 0.3s ease;
  display: inline-block;
}

.social-icon:hover {
  transform: scale(1.2); /* enlarge slightly */
}

/* ---------- Base Theme Colors ---------- */
.social-icon.light { color: black; }
.social-icon.dark { color: white; }

/* ---------- Hover Brand Colors ---------- */
.social-icon.instagram:hover { color: #E4405F; }
.social-icon.tiktok:hover { color: cyan; }
.social-icon.github:hover { color: #333; }
.social-icon.linkedin:hover { color: #0077B5; }
.social-icon.whatsapp:hover { color: #25D366; }

